<html>
  <head>
    <title>Ronan Connolly lab5-todo-repo</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
         </td>
        <td>
          <h1>Python Flask Application and MYSQL</h1>

        </td>
      </tr>
    </table>

    <p>This is the home page for the lab5-todo- Web application. </p>
    <p>To prove that they work, you can execute either of the following links:
    <ul>
      <p> To view main index page vist the route http://external-ip/ </p>
      <p>To pass your name to index.html http://external-ip/myfullname </p>
       <p> To view all recored visit the endpoint at list route  http://external-ip/list</p>
       <p>To insert a new record http://external-ip/add/myname/myemail</p>
       <p>To update a record based on the email  http://external-ip/update/thenewname/email</p>
        <p>To delete a record http://external-ip/delete/name </p>

      </ul>
      <ul>
        <p> The data should apeare below</p>
        {{name}}
      </ul>

  </body>
</html>
